extends layout

block content
  div.jumbotron
    h1 About
    p
      | This is a final project for SLS11 create by E.J. Bensing that is meant
      | to help educate students on their nutrition options at HUDS. This
      | information is not posted in the dining halls, and only online where
      | students must take an active effort to look it up. Thus, most students
      | end up eating all of their meals without understanding the nutritional
      | value of the food they are eating.
    p
      | This project hopes to motivate students to ask more questions about the
      | food they are eating and better educate themselves on nutrition. This
      | project is not meant to be the last say in any nutritional discussion,
      | but a catalyst for deeper analysis.
    p
      | Making healthy food choices at college can be difficult, especially if
      | people are uneducated or misinformed about the health of what they are
      | eating. I believe that most college students have a vague understanding
      | of what is good for them and what isn't, but also have numerous
      | misconceptions and misunderstandings.
