extends layout

block head
  script(type="text/javascript", src="/javascripts/index.js")

block content
  div.jumbotron
    div.row
      div.col-md-8
      div.col-md-4.text-right
        h2 Score: 
          span.score-value 0
    div.row
      div.col-md-5.text-center
        span.item1
      div.col-md-2.text-center
        span OR
      div.col-md-5.text-center
        span.item2
    div.row
      div.col-md-12.text-center
        img(src="/images/correct.png")#success.hidden
        img(src="/images/delete.png")#failure.hidden
    div.row
      div.col-md-12.text-center
        span Select the food which is healthier out of the two above!
